.deleteport {
    &-buttons {
        display: flex;
        flex-direction: row;
        gap: 10px; 
    }

    &-modalButton {
        padding-top: 5px;
        color: #1E1E1E;
        background-color: transparent;
        border: 0px;
        font-size: 18px;
        text-decoration: underline;
        cursor: pointer;
    }
    
}